ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 5%;
    list-style: none;
    /*z-index:999999;*/
}
ul#navigation li {
    display:inline;
    float:left;
    width:100px;
    margin-left:1px;

}
ul#navigation li a {
    display: block;
    font-weight:bold;
    text-shadow:1px 1px 1px #fff;
    float:left;
    width: 100px;
    height: 35px;
    color:#603d05;
    font-family:Gabriola;
    text-decoration:none;
    text-align:center;
    padding-top:80px;
    margin-top: -40px;
    cursor:pointer;
    font-size: 30px;

}
ul#navigation li a:hover{

}

