/*CSS for watchVideo*/
.wrapper_left_video {
    width: 70%;
    /*background-color: green;*/
    height: auto;
    float: left;
}


.wrapper_right_multipl {
    width: 28%;
    background-color: red;
    height: auto;
}

.big-video-container {
    position: relative;
    width: 90%;
    box-shadow: 0 1px 1px 0 rgba(100, 100, 100, 0.5);
    overflow: hidden;
    float: left;
    -webkit-transform: scale(1,1);
    -webkit-transition: 0.3s ease;
    transform: scale(1,1);
    transition: 0.3s ease;
    margin-left: 3%;
    margin-top: 3%;
}

.big-flat-video {
    width: 100%;
    display: block;
    background-color: #bdc3c7;
}

.video_stuff {
    width: 100%;
    height: 200px;
    box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.video_title {
    text-align: justify;
    width: 50%;
    color: #4CA1D8;
    padding: 2%;
    float: left;
}
.video_title h3, p{
    display: block;
    margin-bottom: 5px;
    font-size: 50px;
    color: #7a3e1a;
    width: 100%;
    text-align: center;
    font-family: Gabriola;
}
.video_title p {
    font-size: 20px;
}

.buttons {
    float: right;
    width: 30%;
    margin-top: 15%;
}

.like {
    height: 35px;
    margin: 0 auto;
    position: relative;
    left: 25%;
    top: 50%;
    width: 30%;
    float: left;
}

.dislike {
    height: 35px;
    margin: 0 auto;
    position: relative;
    left: 40%;
    top: 12%;
    width: 30%;
    float: left;
}

#lik, #dis {
    cursor: pointer;
    padding: 10px 12px 8px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 15px;
    color: #aaa;
    transition: .2s;
}

i:hover {
    color: #666;
}

#lik:before {
    font-family: fontawesome;
    content: '❤';
    font-style: normal;
}

#dis:before {
    font-family: fontawesome;
    content: url('/images/sadd.png');
    font-style: normal;
}

#diss, #likk {
        position: absolute;
    bottom: 49px;
    left: 0px;
    transition: .6s;
    z-index: -2;
   color: transparent;
    font-weight: 400;
}

i.press {
    animation: size .4s;
    color: #e23b3b;
}

span.press {
    bottom: 35px;
    font-size: 14px;
    visibility: visible;
    animation: fade 1s;
}

@keyframes fade {
    0% {
        color: #transparent;
    }

    50% {
        color: #e23b3b;
    }

    100% {
        color: #transparent;
    }
}

@keyframes size {
    0% {
        padding: 10px 12px 8px;
    }

    50% {
        padding: 14px 16px 12px;
        margin-top: -4px;
    }

    100% {
        padding: 10px 12px 8px;
    }
}

.like {
    margin: 5%;
}

#dislike {
    margin: 15%;
}




/*CSS for Index.html*/
.video_wrapper {
    width: 100%;
    margin-bottom: 5%;
    border-bottom: 1px solid #B4D34D;
    height: 280px;
}


.video-container {
    position: relative;
    width: 33%;
    margin: 50px auto;
    box-shadow: 0 1px 1px 0 rgba(100, 100, 100, 0.5);
    overflow: hidden;
    float: right;
    -webkit-transform: scale(1,1);
    -webkit-transition: 0.3s ease;
    transform: scale(1,1);
    transition: 0.3s ease;
}

    .video-container:-webkit-full-screen {
        width: 100%;
        /*height: 100%;*/
        margin: 0;
    }

    .video-container:-ms-full-screen {
        width: 100%;
        /*height: 100%;*/
        margin: 0;
    }

    .video-container:-moz-full-screen {
        width: 100%;
        /*height: 100%;*/
        margin: 0;
    }

    .video-container:fullscreen {
        width: 100%;
        /*height: 100%;*/
        margin: 0;
    }

    .video-container.loading {
        -webkit-transform: scale(0.9, 0.9);
        -webkit-transition: 0.3s ease;
        transform: scale(0.9, 0.9);
        transition: 0.3s ease;
    }

.flat-video {
    width: 100%;
    display: block;
    background-color: #bdc3c7;
}

.controls-bar {
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    height: 50px;
}


.playPause {
    position: absolute;
    top: 20px;
    left: 5px;
    /*height: 50px;
  width: 50px;*/
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    /*-webkit-transform: translateX(-50px);*/
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

    .playPause:hover, .sound:hover {
        color: #3498db;
    }

.sound {
    position: absolute;
    top: 20px;
    right: 5px;
    /*height: 50px;
  width: 50px;*/
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    /*-webkit-transform: translateX(-50px);*/
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.duration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: translateY(40px);
    -webkit-transition: 0.3s ease;
    transform: translateY(40px);
    transition: 0.3s ease;
}

.duration-amount {
    float: left;
    width: 0%;
    height: 50px;
    background-color: #3498db;
    opacity: 0.5;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.controls-bar.off .duration {
    -webkit-transform: translateY(40px);
    -webkit-transition: 0.3s ease;
    transform: translateY(40px);
    transition: 0.3s ease;
}

.controls-bar.off .playPause {
    /*-webkit-transform: translateX(-50px);*/
    color: rgba(255, 255, 255, 0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.controls-bar.off .sound {
    /*-webkit-transform: translateX(-50px);*/
    color: rgba(255, 255, 255, 0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.top-controls-bar {
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    height: 50px;
}

.info {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 97%;
    height: 150px;
}

.title {
    color: #4CA1D8;
    margin-left: 3%;
    margin-top: 3%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 100%;
}

    .title a {
        width: 100%;
        color: #caf5fb;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .title a :hover {
            width: 100%;
            color: #ffffff;
        }

.author {
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.fullscreen {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

    .fullscreen:hover {
        color: #3498db;
    }

.top-controls-bar.off .title {
    color: rgba(255, 255, 255, 0.0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.top-controls-bar.off .author {
    color: rgba(255, 255, 255, 0.0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.top-controls-bar.off .fullscreen {
    color: rgba(255, 255, 255, 0.0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "video_payer";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-play:before {
    content: '\e800';
}

/* '' */
.icon-resize-full:before {
    content: '\e801';
}

/* '' */
.icon-pause:before {
    content: '\e802';
}

/* '' */
.icon-resize-small:before {
    content: '\e803';
}

/* '' */
.icon-share:before {
    content: '\e807';
}

/* '' */
.icon-sound:before {
    content: '\e808';
}

/* '' */
.icon-mute:before {
    content: '\e809';
}

/* '' */
.icon-ccw:before {
    content: '\e80a';
}

/* '' */
.icon-volume:before {
    content: '\e80c';
}

/* '' */
.well {
    box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
    width:100%;
}
.well iframe {
    width: 100%;
    height: 520px;
}
