@model Watch.Me.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<link href="~/Content/changePass.css" rel="stylesheet" />
@*<h2>@ViewBag.Title.</h2>*@

@*<p class="text-success">@ViewBag.StatusMessage</p>*@

<div class="space">
   
    <div class="monkey">
        <div class="head">
            <div class="face">
                <ul class="eye">
                    <li class="left"></li>
                    <li class="right"></li>
                </ul>
            </div>
        </div>
        <div class="accordion">
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
        <div class="body"></div>

    </div>
</div>

