@model Watch.Me.Models.ViewModels.WatchVideoViewModel



<div id="likeDislike">
    <div class="like">
        <i id="lik"></i>
        <span id="likk">liked!</span>
        @Model.NumberLike
    </div>

    <div class="dislike">
        <i id="dis"></i>
        <span id="diss">disliked!</span>
        @Model.NumberDislike
    </div>
</div>




