@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/contactUs.css" rel="stylesheet" />
<section class="section">
    <ul class="list-icon-items clearfix no-margins">
        <li class="grid-3 secondary alpha">
            <a href="#">
                <i class="circ large tertiary ss-icon ss-standard">
                    <img src="~/images/mail.png"/>
                    <i class="circ pulse"></i>
                </i>
                <h4 class="secondary">Email</h4>
                <p>
                    <span class="pseudo-link">JuNgLe@Monkey.zOo</span>
</p>
            </a>
        </li>
        <li class="grid-3 secondary">
            <i class="circ large tertiary ss-icon ss-standard">
                <img src="~/images/phone.png" />
                <i class="circ pulse"></i>
            </i>
            <h4 class="secondary">Phone</h4>
        <p class="secondary">+44 (0)1273 434 060</p></li>

        <li class="grid-3 secondary">
            <a href="http://twitter.com/builtbybuffalo">
                <i class="circ large tertiary ss-icon ss-social">
                    <img src="~/images/fb.png" />
                    <i class="circ pulse"></i>
                </i>
                <h4 class="secondary">Facebook</h4>
                <p>
                    <span class="pseudo-link">Follow us</span>
                </p>
            </a>
        </li>
    </ul>
</section>
